<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="CouchbaseServer" value="http://localhost:8091/pools" />
  <add key="CouchbaseUser" value="admin" />
  <add key="CouchbasePassword" value="anhhuy" />
  <add key="CouchbaseBucket" value="default" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>